timing:
  max_steps: 400000

data:
  name: deepfix-style
  task: err-compiler
  splits:
    train:
      format: substitute
      paths: [../data/err-data-compiler--auto-corrupt--codeforce--deepfix-style/*/*.json]
      shuffle: true
    dev:
      format: vanilla
      path: ../data/err-dev-compiler--for-deepfix/err-dev.2000.jsonl
    test:
      format: vanilla
      path: ../data/err-dev-compiler--for-deepfix/err-dev.2000.jsonl
  vocab:
    path: ../data/err-vocab-compiler--for-deepfix/combined.vocab
    min_freq: 2

train:
  batch_size: 20
